/*-------------------------------------------------
 =  Table of Css

 1.Isotope
 1.KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT
 3.Header
 4.General
 5.content - home sections
 6.About page
 7.blog page
 8.services
 9.contact page
 10.footer
 11.Responsive part
-------------------------------------------------*/
/*-------------------------------------------------------*/
/* 1. Isotope filtering
/*-------------------------------------------------------*/
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}
/*-----------------------------------------------------------------------------

KENBURNER RESPONSIVE BASIC STYLES OF HTML DOCUMENT

Screen Stylesheet

version:    1.0
date:       07/27/11
author:     themepunch
email:      support@themepunch.com
website:    http://www.themepunch.com
-----------------------------------------------------------------------------*/
.boxedcontainer {
  max-width: 1170px;
  margin: auto;
  padding: 0px 30px;
}
/*********************************************
    -   SETTINGS FOR BANNER CONTAINERS  -
**********************************************/
.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}
.tp-banner {
  width: 100%;
  position: relative;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
/*-------------------------------------------------*/
/* =  Header
/*-------------------------------------------------*/
.navbar-default {
  background: #0a287e;
  border: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin: 0;
}
.navbar-header {
  z-index: 99;
  position: relative;
}
.navbar-brand {
  height: auto;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 30px;
  margin: 0;
  color: #333333 !important;
  padding: 35px 15px;
  letter-spacing: 2.5px;
  z-index: 99999;
}
.navbar-brand span {
  color: #0a287e;
}
.navbar-nav {
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.navbar-nav > li > a {
  color: #ffffff !important;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 35px 15px;
}
.navbar-nav > li > a:hover {
  opacity: 0.7;
}
.navbar-nav li.drop {
  position: relative;
}
.navbar-nav li:hover ul.drop-down {
  opacity: 1;
  visibility: visible;
}
.navbar-nav li.search {
  position: inherit;
}
.top-line {
  padding: 15px 0;
  background: #ffffff;
  border-bottom: 1px solid #f3f3f3;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  overflow: hidden;
}
.top-line ul.info-list {
  margin: 0;
  padding: 0;
}
.top-line ul.info-list li {
  display: inline-block;
  margin-right: 25px;
  color: #333333;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}
.top-line ul.info-list li i {
  color: #0a287e;
  font-size: 14px;
  margin-right: 10px;
}
.top-line ul.social-icons {
  margin: 0;
  padding: 0;
  text-align: right;
}
.top-line ul.social-icons li {
  display: inline-block;
  margin-left: 9px;
}
.top-line ul.social-icons li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 13px;
  color: #333333;
}
.top-line ul.social-icons li a:hover {
  color: #0a287e;
}
header.active .top-line {
  height: 0;
  padding: 0;
}
.navbar-collapse {
  position: relative;
}
ul.drop-down {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 230px;
  top: 100%;
  left: 0;
  visibility: hidden;
  padding: 10px 0;
  border-top: 2px solid #0a287e;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  background: rgba(255, 255, 255, 0.98);
}
ul.drop-down li {
  display: block;
}
ul.drop-down li a {
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  color: #333333;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
ul.drop-down li a:hover {
  color: #0a287e;
}
.form-search {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  background: #f5f5f5;
  padding: 4px;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.form-search input[type="search"] {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin: 0;
  color: #333333;
  padding: 8px 10px;
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.form-search button {
  background: transparent;
  border: none;
  float: right;
  margin-top: -30px;
  margin-right: 10px;
  position: relative;
  z-index: 2;
}
.form-search button i {
  color: #0a287e;
  font-size: 16px;
}
.form-search.active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
/*-------------------------------------------------*/
/* =  General
/*-------------------------------------------------*/
#container {
  padding-top: 140px;
}
p {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
}
/*-------------------------------------------------*/
/* =  content home sectsions
/*-------------------------------------------------*/
.title-section.white h1 {
  color: #ffffff;
}
#home-section .tp-caption.WebProduct-Title-Light {
  font-size: 50px;
  line-height: 50px;
}
#home-section .tp-caption.WebProduct-SubTitle-Light {
  color: #f1f1f1;
  font-family: 'Montserrat', sans-serif;
}
#home-section .tp-caption.WebProduct-Button {
  background: #0a287e;
  color: #ffffff;
}
.banner-section {
  padding: 12px 0;
  background: #0a287e;
}
.banner-section h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400 !important;
  margin-bottom: 0;
  overflow: hidden;
  line-height: 50px;
}
.banner-section a {
  float: right;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-left: 10px;
  padding: 14px 50px;
  color: #0a287e;
  background: #ffffff;
  font-size: 13px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  line-height: 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 2px solid #ffffff;
  letter-spacing: 1.5px;
}
.banner-section a:hover {
  background: #ffffff;
  color: #0a287e;
}
.title-section {
  margin-bottom: 50px;
  text-align: center;
}
.title-section h1 {
  color: #333333;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
}
.title-section h1:after {
  position: absolute;
  content: '';
  width: 40px;
  height: 2px;
  background: #0a287e;
  bottom: -1px;
  left: 50%;
  margin-left: -20px;
}
.title-section p {
  max-width: 600px;
  margin: 0 auto;
}
.title-section.white {
  margin-bottom: 40px;
}
.title-section.white h1 {
  color: #ffffff;
}
.title-section.white p {
  color: #ffffff;
}
section.services-section {
  padding: 50px 0;
  background: #f7f7f7;
}
section.services-section .services-box {
  margin-bottom: -55px;
}
section.services-section .services-box .services-post {
  margin-bottom: 30px;
  padding-bottom: 25px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
section.services-section .services-box .services-post img {
  width: 100%;
}
section.services-section .services-box .services-post .services-content h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
}
section.services-section .services-box .services-post .services-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  padding: 25px 30px;
  color: #333333;
  margin-bottom: -25px;
}
section.services-section .services-box .services-post .services-content h2 a:hover {
  opacity: 1;
}
section.services-section .services-box .services-post .services-content p {
  padding: 0 30px;
}
section.services-section .services-box .services-post .services-content ul.serv-links {
  padding: 10px 30px 0;
}
section.services-section .services-box .services-post .services-content ul.serv-links li {
  display: block;
}
section.services-section .services-box .services-post .services-content ul.serv-links li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #333333;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
}
section.services-section .services-box .services-post .services-content ul.serv-links li a:hover {
  opacity: 1;
}
section.services-section .services-box .services-post .services-content ul.serv-links li:before {
  content: '\f0da';
  font-family: 'FontAwesome';
  color: #999999;
  font-size: 11px;
  margin-right: 15px;
}
section.services-section .services-box .services-post:hover {
  padding-bottom: 0;
}
section.services-section .services-box .services-post:hover .services-content h2 a {
  padding-bottom: 25px;
  background: #aaa;
  color: #ffffff;
  margin-bottom: 0;
}
.consulting-section {
  padding: 50px 0;
}
.consulting-section .consulting-box {
  margin-top: -40px;
}
.consulting-section .consulting-post {
  margin-top: 60px;
  padding: 0 35px 45px;
  border: 1px solid #eeeeee;
  text-align: center;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
}
.consulting-section .consulting-post a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  margin: -36px auto 24px;
  width: 72px;
  height: 72px;
  line-height: 68px;
  border: 2px solid black;
  font-size: 30px;
  color: black;
  background: #f7f7f7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.consulting-section .consulting-post a:hover {
  color: #ffffff;
  background: #aaa;
}
.consulting-section .consulting-post h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  position: relative;
  padding-bottom: 16px;
}
.consulting-section .consulting-post h2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 2px;
  background: #0a287e;
}
#statistic-section {
  padding: 50px 0;
  background: #aaa;
}
#statistic-section .statistic-box {
  text-align: center;
}
#statistic-section .statistic-post h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  margin-bottom: 0px;
  font-size: 12px;
}
#statistic-section .statistic-post p {
  margin: 0 0 20px;
}
#statistic-section .statistic-post span.timer {
  color: #ffffff;
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  margin: 0;
}
.choose-section {
  padding: 50px 0;
  background: #f7f7f7;
}
.choose-section .accordion-box h1 {
  color: #333333;
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 30px;
  position: relative;
  padding-bottom: 26px;
}
.choose-section .accordion-box h1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 40px;
  height: 2px;
  background: #0a287e;
}
.choose-section .accordion-box > p {
  margin-bottom: 20px;
}
.accord-elem {
  margin-top: 8px;
}
.accord-elem:first-child {
  margin-top: 0px;
}
.accord-title {
  position: relative;
}
.accord-title a.accord-link {
  display: inline-block;
  text-decoration: none;
  display: block;
  padding: 15px 30px;
  background: transparent;
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  color: #0a287e;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0;
  border: 1px solid #666666;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  position: relative;
}
.accord-title a.accord-link:after {
  font-family: 'FontAwesome';
  content: '\f0a9';
  position: absolute;
  top: 8px;
  right: 30px;
  font-size: 18px;
  color: #333333;
  line-height: 36px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.accord-title p {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin: 12px 0 12px 72px;
}
.accord-elem.active a.accord-link {
  border-bottom: none;
  color: #0a4e7e;
}
.accord-elem.active a.accord-link:after {
  content: '\f0ab';
}
.accord-content {
  display: none;
  padding: 0 30px;
  overflow: hidden;
  border: 1px solid #666666;
  border-top: none;
}
.accord-content p {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin: 10px 0 30px;
}
.accord-elem.active .accord-content {
  display: block;
}
.banner-consult {
  margin-top: 5px;
  padding: 135px 30px;
  text-align: center;
  border: 1px solid #000000;
}
.banner-consult h1 {
  color: #0a287e;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 15px;
  line-height: 40px;
}
.banner-consult h1 span {
  display: block;
  color: #a5a5a5;
}
.banner-consult p {
  margin-bottom: 15px;
}
.banner-consult a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: #aaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 12px 45px;
}
.banner-consult a:hover {
  opacity: 0.7;
}
.testimonial-section {
  position: relative;
  padding: 50px 0;
  background: url('../upload/banners/1.jpg') center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.testimonial-section .container {
  position: relative;
  z-index: 2;
}
.testimonial-section .testimonial-box {
  padding: 55px 0 0;
  text-align: center;
  padding-bottom: 2px;
  margin-bottom: -30px;
}
.testimonial-section .testimonial-box ul.bxslider {
  margin: 0;
  padding: 0;
}
.testimonial-section .testimonial-box ul.bxslider li {
  overflow: hidden;
}
.testimonial-section .testimonial-box p {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Droid Serif', serif;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  max-width: 700px;
  margin: 0 auto 20px;
}
.testimonial-section .testimonial-box h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2px;
}
.testimonial-section .testimonial-box span {
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #aaa;
  font-size: 13px;
  display: block;
  padding-bottom: 10px;
}
.testimonial-section .testimonial-box .bx-wrapper .bx-controls-direction {
  display: none;
}
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #0a287e;
  border-color: #0a287e;
}
.testimonial-section:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}
.testimonial-section:before {
  content: open-quote;
  position: absolute;
  font-size: 72px;
  font-family: 'Montserrat', sans-serif;
  top: 50px;
  left: 50%;
  margin-left: -10px;
  color: #ffffff;
  z-index: 2;
  line-height: 60px;
}
.owl-theme .owl-controls .owl-pagination {
  display: none !important;
}
.owl-carousel {
  width: auto;
}
.owl-theme .owl-controls {
  margin-top: -20px;
  text-align: center;
  position: absolute;
  height: 0;
  top: 50%;
  left: -50px;
  right: -50px;
}
.owl-theme .owl-controls .owl-buttons div {
  font-size: 18px;
  color: #ffffff;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #000;
  outline: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  opacity: 1;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  background: #0a287e;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  float: left;
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  float: right;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:after {
  content: '\f104';
  font-family: 'FontAwesome';
  color: #ffffff;
}
.owl-theme .owl-controls .owl-buttons div.owl-next:after {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #ffffff;
}
.news-section {
  padding: 50px 0;
  background: #fff;
}
.news-section .news-post {
  border-bottom: 2px solid #5a5a5a;
}
.news-section .news-post .news-gallery {
  position: relative;
}
.news-section .news-post .news-gallery img {
  width: 100%;
}
.news-section .news-post .news-content {
  overflow: hidden;
  padding: 26px 0 12px;
  background: #fff;
}
.news-section .news-post .news-content h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 14px;
  font-weight: 600;
}
.news-section .news-post .news-content h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
}
.news-section .news-post .news-content h2 a:hover {
  color: #0a287e;
}
.news-section .news-post .news-content span {
  display: inline-block;
  float: left;
  font-size: 12px;
  color: #999999;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.news-section .news-post .news-content > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  float: right;
  font-size: 12px;
  color: #333333;
  font-family: 'Droid Serif', serif;
  font-style: italic;
}
.news-section .news-post .news-content > a i {
  margin-right: 7px;
  color: #999999;
}
.news-section .news-post .news-content > a:hover {
  color: #0a287e;
}
.subcribe-section {
  padding: 50px 0;
  text-align: center;
  background: #0a287e;
}
.subcribe-section .title-section h1:after {
  background: #ffffff;
}
.subcribe-section form {
  margin: 0 0 30px;
}
.subcribe-section form input[type="text"] {
  outline: none;
  color: #999999;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding: 14px 10px;
  border: none;
  margin: 0 12px;
  width: 220px;
}
.subcribe-section form input[type="submit"] {
  border: 1px solid #ffffff;
  background: transparent;
  outline: none;
  padding: 13px 10px;
  color: #ffffff;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  width: 230px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.subcribe-section form input[type="submit"]:hover {
  opacity: 0.7;
}
.subcribe-section p {
  color: #ffffff;
  margin-bottom: 0;
}
/*-------------------------------------------------*/
/* =  about page
/*-------------------------------------------------*/
.page-banner-section {
  padding: 50px 0;
  background: #f5f5f5;
  overflow: hidden;
  text-align: center;
  border-bottom: 2px solid #f0f0f0;
}
.page-banner-section h1 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333333;
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}
.about-section {
  padding: 50px 0;
}
.about-section img,
.about-section iframe {
  width: 100%;
  margin-bottom: 30px;
}
.about-section iframe {
  height: 328px;
}
.about-section h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
}
.team-section {
  padding: 50px 0;
}
.team-section .team-box {
  margin-left: -15px;
  margin-right: -15px;
}
.team-section .team-box .item {
  padding: 0 15px;
}
.team-section .team-box .team-post .gallery-team {
  position: relative;
  margin-bottom: 30px;
}
.team-section .team-box .team-post .gallery-team img {
  width: 100%;
}
.team-section .team-box .team-post .gallery-team ul.social-list {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  margin: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  opacity: 0;
}
.team-section .team-box .team-post .gallery-team ul.social-list li {
  display: inline-block;
  text-align: left;
  margin-bottom: 3px;
}
.team-section .team-box .team-post .gallery-team ul.social-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #ffffff;
  background: #333333;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  border-radius: 1px;
  line-height: 40px;
  font-size: 14px;
  text-align: center;
}
.team-section .team-box .team-post .gallery-team ul.social-list li a:hover {
  color: #ffffff;
  background: #0a287e;
}
.team-section .team-box .team-post .team-content h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  margin: 0 0 15px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.team-section .team-box .team-post .team-content span {
  display: block;
  color: #5a5a5a;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.team-section .team-box .team-post:hover .gallery-team ul.social-list {
  opacity: 1;
}
/*-------------------------------------------------*/
/* =  blog page
/*-------------------------------------------------*/
.blog-section {
  padding: 50px 0;
}
.blog-section h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 16px;
}
.blog-section .blog-box .blog-post {
  margin-bottom: 50px;
}
.blog-section .blog-box .blog-post img,
.blog-section .blog-box .blog-post iframe {
  width: 100%;
  margin-bottom: 30px;
}
.blog-section .blog-box .blog-post iframe {
  height: 360px;
}
.blog-section .blog-box .blog-post h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  margin-bottom: 0px;
}
.blog-section .blog-box .blog-post h2 a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
}
.blog-section .blog-box .blog-post h2 a:hover {
  color: #0a287e;
}
.blog-section .blog-box .blog-post span {
  display: inline-block;
  color: #5a5a5a;
  font-size: 12px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 0 0 25px;
}
.blog-section .blog-box .blog-post .post-content-text > a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  color: #333333;
  margin: 0;
}
.blog-section .blog-box .blog-post .post-content-text > a i {
  margin-left: 12px;
}
.blog-section .blog-box .blog-post .post-content-text > a:hover {
  color: #0a287e;
}
.blog-section .blog-box ul.pagination-list {
  margin: 0;
  padding: 0;
  margin-bottom: 0px;
}
.blog-section .blog-box ul.pagination-list li {
  display: inline-block;
  margin-right: 8px;
}
.blog-section .blog-box ul.pagination-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #5a5a5a;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.blog-section .blog-box ul.pagination-list li a:hover,
.blog-section .blog-box ul.pagination-list li a.active {
  color: #0a287e;
}
.blog-section .blog-box .single-post h1 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 0px;
}
.blog-section .blog-box .single-post p {
  margin-bottom: 25px;
}
.blog-section .blog-box .single-post blockquote {
  border-left: 5px solid #d1d1d1;
  padding: 20px 0;
  padding-left: 30px;
  margin-left: 30px;
  margin-bottom: 25px;
}
.blog-section .blog-box .single-post blockquote p {
  font-size: 14px;
  margin: 0;
}
.blog-section .blog-box .single-post blockquote p span {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 0;
  text-transform: inherit;
}
.blog-section .blog-box .autor-post {
  overflow: hidden;
  margin-bottom: 40px;
}
.blog-section .blog-box .autor-post img {
  max-width: 130px;
  float: left;
}
.blog-section .blog-box .autor-post .autor-content {
  margin-left: 150px;
}
.blog-section .blog-box .autor-post .autor-content h2 {
  margin-bottom: 0;
}
.blog-section .blog-box .autor-post .autor-content span {
  display: inline-block;
  color: #5a5a5a;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 15px;
}
.blog-section .blog-box .comment-section {
  margin-bottom: 40px;
}
.blog-section .blog-box .comment-section h2 {
  margin-bottom: 25px;
}
.blog-section .blog-box .comment-section ul {
  margin: 0;
  padding: 0;
}
.blog-section .blog-box .comment-section ul li {
  list-style: none;
}
.blog-section .blog-box .comment-section ul li .comment-box {
  overflow: hidden;
  padding-bottom: 35px;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 40px;
}
.blog-section .blog-box .comment-section ul li .comment-box img {
  width: auto;
  max-width: 100px;
  float: left;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content {
  margin-left: 120px;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 {
  color: #333333;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 a {
  color: #333333;
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  float: right;
  font-size: 11px;
  font-weight: 400;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content h4 a:hover {
  color: #0a287e;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content span {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  line-height: 22px;
  margin: 0 0 10px;
  font-size: 11px;
  display: inline-block;
  font-weight: 400;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.blog-section .blog-box .comment-section ul li .comment-box .comment-content p {
  font-size: 14px;
  margin: 0 !important;
}
.blog-section .blog-box .comment-section ul.depth .comment-box {
  padding-left: 120px;
}
.sidebar h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 25px;
}
.sidebar .widget {
  margin-bottom: 40px;
}
.sidebar ul.category-list,
.sidebar ul.archieve-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.category-list li,
.sidebar ul.archieve-list li {
  list-style: none;
  border-bottom: 1px dotted #d1d1d1;
  margin-bottom: 10px;
}
.sidebar ul.category-list li a,
.sidebar ul.archieve-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 10px;
}
.sidebar ul.category-list li a:hover,
.sidebar ul.archieve-list li a:hover {
  color: #0a287e;
}
.sidebar ul.category-list li:last-child,
.sidebar ul.archieve-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.sidebar ul.tags-list {
  margin: 0;
  padding: 0;
}
.sidebar ul.tags-list li {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 6px;
}
.sidebar ul.tags-list li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  padding: 12px 18px;
  color: #ffffff;
  background: #333333;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.sidebar ul.tags-list li a:hover {
  background: #0a287e;
}
/*-------------------------------------------------*/
/* =  services
/*-------------------------------------------------*/
.services-tabs ul {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
}
.services-tabs ul li {
  display: block;
  margin: 0 0 2px;
}
.services-tabs ul li a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  display: block;
  padding: 18px 25px;
  background: #f1f1f1;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  color: #333333;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin: 0;
}
.services-tabs ul li a:hover {
  background: #0a287e;
  color: #ffffff;
}
.services-tabs ul li.active a {
  background: #0a287e;
  color: #ffffff;
}
/*-------------------------------------------------*/
/* =  contact page
/*-------------------------------------------------*/
#map {
  height: 500px;
}
.contact-section {
  padding: 50px 0;
}
.contact-section h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contact-section p {
  margin-bottom: 30px;
}
.contact-section ul.information-list {
  margin: 0;
  padding: 0;
}
.contact-section ul.information-list li {
  list-style: none;
  overflow: hidden;
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.contact-section ul.information-list li i {
  float: left;
  color: #333333;
  font-size: 13px;
  display: inline-block;
  line-height: 24px;
}
.contact-section ul.information-list li span {
  display: block;
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  margin-bottom: 0px;
  margin-left: 25px;
  color: #333333;
}
.contact-section ul.information-list li a {
  font-size: 13px;
  color: #5a5a5a;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px;
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 10px;
  color: #333333;
}
.contact-section ul.information-list li:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
#contact-form,
.comment-form {
  margin-bottom: -30px;
}
#contact-form input[type="text"],
.comment-form input[type="text"],
#contact-form textarea,
.comment-form textarea {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
  outline: none;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  color: #5a5a5a;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
#contact-form input[type="text"]:focus,
.comment-form input[type="text"]:focus,
#contact-form textarea:focus,
.comment-form textarea:focus {
  border: 1px solid #0a287e;
}
#contact-form textarea,
.comment-form textarea {
  height: 146px;
}
#contact-form input[type="submit"],
.comment-form input[type="submit"] {
  padding: 12px 30px;
  outline: none;
  border: none;
  background: #0a287e;
  color: #ffffff;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
#contact-form input[type="submit"]:hover,
.comment-form input[type="submit"]:hover {
  opacity: 0.7;
}
#contact-form .message,
.comment-form .message {
  height: 30px;
  padding: 10px 20px;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
}
#contact-form .message.error,
.comment-form .message.error {
  color: #e74c3c;
  background: rgba(246, 80, 80, 0.4);
  border: 1px solid #e74c3c;
}
#contact-form .message.success,
.comment-form .message.success {
  color: #29b504;
  background: rgba(63, 220, 21, 0.4);
  border: 1px solid #29b504;
}
/*-------------------------------------------------*/
/* =  Footer
/*-------------------------------------------------*/
footer {
  background: #aaa;
  padding: 50px 0;
}
footer .contact-info h2 {
  color: #333333;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px;
  color: #ffffff;
}
footer .contact-info h2 i {
  margin-right: 12px;
}
footer .contact-info p {
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin-left: 30px;
  margin-bottom: 0;
}
/*-------------------------------------------------*/
/* =  Responsive Part
/*-------------------------------------------------*/
@media (max-width: 1199px) {
  .subcribe-section form input[type="text"] {
    margin-bottom: 5px;
  }
}
@media (max-width: 991px) {
  .top-line ul.info-list {
    text-align: center;
    margin-bottom: 5px;
  }
  .top-line ul.social-icons {
    text-align: center;
  }
  .navbar-brand {
    padding: 21px 15px;
  }
  .navbar-nav > li > a {
    padding: 22px 12px;
  }
  .banner-section a {
    margin-top: 5px;
  }
  .tabs-section ul.nav-tabs {
    margin-bottom: 30px;
  }
  .tabs-section .tab-pane img {
    margin-bottom: 20px;
  }
  .quote-section .text-box {
    padding-right: 0;
    margin-bottom: 30px;
  }
  .portfolio-section .portfolio-box.iso-call .project-post {
    width: 50%;
  }
  #statistic-section .statistic-box .statistic-post {
    margin-bottom: 30px;
  }
  .news-section .news-post {
    margin-bottom: 30px;
  }
  #contact-form,
  .comment-form {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .navbar-toggle {
    margin-top: 14px;
  }
  .navbar-nav > li > a {
    padding: 5px 15px;
  }
  ul.drop-down {
    position: relative;
    opacity: 1;
    visibility: visible;
    top: inherit;
    left: inherit;
    width: 100%;
    border-top: none;
    padding: 5px 0;
  }
  ul.drop-down li a {
    padding: 5px 20px;
  }
  .banner-section a {
    margin-left: 3px;
  }
  .owl-theme .owl-controls {
    left: 15px;
    right: 15px;
  }
  .clients-section ul.clients-list li {
    width: 33.3333%;
    margin-bottom: 20px;
  }
  .page-banner-section h1 {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  .page-banner-section ul.page-depth {
    float: none;
    text-align: center;
  }
  .portfolio-section .portfolio-box.iso-call .project-post {
    width: 100%;
  }
  .portfolio-section ul.filter li {
    margin: 0 6px;
  }
  .blog-section .blog-box .single-post blockquote {
    margin-left: 0;
  }
  .blog-section .blog-box .comment-section ul.depth .comment-box {
    padding-left: 0;
  }
  .banner-section h2 {
    text-align: center;
  }
  .banner-section h2 a {
    float: none;
    padding: 6px 15px;
  }
  #home-section .tp-caption.WebProduct-Title-Light {
    font-size: 56px;
    line-height: 56px;
  }
  #home-section .tp-caption.WebProduct-SubTitle-Light,
  #home-section .tp-caption.WebProduct-Content-Light {
    display: none;
  }
}
@media (max-width: 460px) {
  .top-line {
    display: none;
  }
  #container {
    padding-top: 63px;
  }
  .clients-section ul.clients-list li {
    width: 50%;
  }
  .blog-section .blog-box .comment-section ul li .comment-box img {
    max-width: 60px;
  }
  .blog-section .blog-box .comment-section ul li .comment-box .comment-content {
    margin-left: 80px;
  }
  .blog-section .blog-box .autor-post img {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .blog-section .blog-box .autor-post .autor-content {
    margin-left: 0;
  }
}
